h1,h2,h3,h4,h5{
    margin:0;
    font-weight: 400;
}

// app global css in SCSS form
.login-container {
    background-color:$lightBg;
    color: white;

    .login-form {
        background:#488fec;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2), 0 2px 2px rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12);

        .q-field__label {
            color: white;
        }

        .q-card {
            background-color: transparent;
            box-shadow: none;;
        }

        .links {
            padding-bottom: 20px;
            text-align: center;
            
            a {
                text-decoration: underline;
                cursor: pointer;
                color: $lightBg;
                margin-left: 5px;
            }
        }
    }

    .login-info-box {
        .container {
            background: url("../assets/image@2x.jpg") no-repeat bottom center / cover;
            width: 100%;
            height: 100%;
            border-top-right-radius: 5px;
            border-bottom-right-radius: 5px;

            h2 {
                margin:0px;
                font-size: 35px;
                line-height: 35px;
            }

            p {
                margin-top: 20px;
                font-size: 18px;
                color:$lightBg;
            }
        }
    }
}

///Account
.account {
    h2 {
        font-size: 32px;
        width: 100%;
        color: $textGrey;
        small {
            font-size: 15px;
        }
    }

    .account-header {
        background-image: linear-gradient(to bottom, #488fec, #354ccb);
        background-color:$primary;
        height: 150px;
        color: white;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: relative;

        h3 {
            font-size: 22px;
            line-height: 22px;
        }

        label {
            color: $textGreyLight;
        }

        b.amount {
            font-size: 25px;
            display: block;

            span {
                font-weight: normal;
                font-size: 13px!important;
                background-color: $secondary;
                display: inline-block;
                padding:2px 5px;
                border-radius: 50px;
            }
        }
    }

    .account-info {
        label {
            color: $textGrey;
            font-weight: 500;
            text-transform: uppercase;
            display: block;
            width: 100%;
            position: relative;

            span {
                white-space: nowrap;
                overflow: hidden;
                width: 70%;
                text-overflow: ellipsis;
                display: block;
            }

            &:hover {
                overflow-y: initial;
                b {
                    opacity: 1;
                    top:15px;
                    height: auto;
                }
            }

            b {
                opacity: 0;
                left:0;
                top:25px;
                height: 0;
                display: block;
                z-index: 99999;
                white-space: initial;
                padding:5px;
                background-color: white;
                color: $textGrey;
                font-size: 11px;
                width: 100%;
                position: absolute;
                transition: all 0.3s ease;
            }
        }

        p {
            position: relative;
            overflow: hidden;
            cursor: default;
            font-size: 12px;
        }
    }

    .account-footer {
        border-top: 1px solid #e6e6e6;
        display: flex;
        justify-content: flex-end;
    }
}


//Partners
.partners {
    b {
        display: block;
        font-size: 18px;
        line-height: 22px;
        color: $textGrey;
        font-weight: 500;
    }

    p {
        margin:20px 0px 0px 0px;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-inline-box;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
    }

    a {
        display: inline;
        color: $primary;
    }
}

.platforms {
    @extend .partners;

    p {
        margin:0;
    }

    img {
        margin: 0px auto;
        width: auto;
        display:block;
    }
}

.profile {
    h2 {
        font-size: 32px;
        width: 100%;
        color: $textGrey;
    }

    h3 {
        font-size: 22px;
        color: $primary;
    }
}

.alert-warning {
    color: #8a6d3b;
    background-color: #fef5e4;
    border: 1px solid #fea812!important;

    h4 {
        font-size: 24px;
        font-weight: 500;
        display: flex;
        margin-bottom: 15px;
        align-items: center;

        i {
            color: #fea812;
            font-size: 50px;
        }
    }

    p {
        font-size: 16px;
        margin-bottom: 10px;
    }
    
    button, a {
        color: #fff;
        background-color: #fea812;
        border-color: transparent;
        font-weight: bold;
        text-transform: uppercase;
    }
}